* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 30%;
  height: auto;
  background-color: aqua;
  border-radius: 10px;
  border: 2px solid black;
  padding: 25px;
}
input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  font-size: 30px;
}
.buttons {
  display: flex;
  flex-direction: column;
  /* align-items: cente; */
  /* flex-direction: column; */
  gap: 20px;
}
.buttons > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 20px;
  background-color: blueviolet;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
