* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

#text {
  color: red;
}
.highlight {
  color: yellow;
  font-size: 40px;
}
.java {
  color: blue;
}
.bold {
  font-size: 40px;
}
